// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
.nav-item {
  &:hover {
    background-color: red; 
    color: white; 
  }
}

.dropdown {
  &:hover {
    background-color: red; 
    color: white; 
  }
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: red !important;  
  color: white !important;           
}

h2 {
  text-align: center;
}

div {
  text-align: justify;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}





