// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}


.cta-group {
  justify-content: center;
}
.nav-item {
  &:hover {
    background-color: #45f3ff; 
    color: white; 
  }
}

.dropdown {
  &:hover {
    background-color: #45f3ff; 
    color: white; 
  }
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #45f3ff !important;  
  color: white !important;           
}

$primary-color: #d3d3d3;     

body {
  background-color: $primary-color;
}







